.container {
    --size: var(--glare-ui-shared-icon-button-size, var(--_access-shared-icon-button-size, 40px));
    --touch-target-size: var(--glare-ui-shared-icon-button-size, var(--_access-shared-icon-button-touch-target-size, 48px));
    --shape: var(--glare-ui-shared-icon-button-shape, var(--_access-shared-icon-button-shape, 9999px));

    --_current-state-layer-color-enabled: var(--variant-state-layer-color-enabled-enabled);
    --_current-state-layer-color-hover: var(--variant-state-layer-color-enabled-hover);
    --_current-state-layer-color-pressed: var(--variant-state-layer-color-enabled-pressed);
    --variant-state-layer-color-enabled-enabled:    var(--glare-ui-shared-icon-button-state-layer-color-enabled-enabled,    var(--_access-shared-icon-button-state-layer-color-enabled-enabled,    var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-enabled-hover:      var(--glare-ui-shared-icon-button-state-layer-color-enabled-hover,      var(--_access-shared-icon-button-state-layer-color-enabled-hover,      var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-enabled-pressed:    var(--glare-ui-shared-icon-button-state-layer-color-enabled-pressed,    var(--_access-shared-icon-button-state-layer-color-enabled-pressed,    var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-unselected-enabled: var(--glare-ui-shared-icon-button-state-layer-color-unselected-enabled, var(--_access-shared-icon-button-state-layer-color-unselected-enabled, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-unselected-pressed: var(--glare-ui-shared-icon-button-state-layer-color-unselected-hover,   var(--_access-shared-icon-button-state-layer-color-unselected-hover,   var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-unselected-pressed: var(--glare-ui-shared-icon-button-state-layer-color-unselected-pressed, var(--_access-shared-icon-button-state-layer-color-unselected-pressed, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-selected-enabled:   var(--glare-ui-shared-icon-button-state-layer-color-selected-enabled,   var(--_access-shared-icon-button-state-layer-color-selected-enabled,   var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-selected-hover:     var(--glare-ui-shared-icon-button-state-layer-color-selected-hover,     var(--_access-shared-icon-button-state-layer-color-selected-hover,     var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-selected-pressed:   var(--glare-ui-shared-icon-button-state-layer-color-selected-pressed,   var(--_access-shared-icon-button-state-layer-color-selected-pressed,   var(--md-sys-color-on-surface, #1D1B20)));

    --_current-state-layer-opacity-enabled: var(--variant-state-layer-opacity-enabled-enabled);
    --_current-state-layer-opacity-hover: var(--variant-state-layer-opacity-enabled-hover);
    --_current-state-layer-opacity-pressed: var(--variant-state-layer-opacity-enabled-pressed);
    --variant-state-layer-opacity-enabled-enabled:    var(--glare-ui-shared-icon-button-state-layer-opacity-enabled-enabled,    var(--_access-shared-icon-button-state-layer-opacity-enabled-enabled,    0));
    --variant-state-layer-opacity-enabled-hover:      var(--glare-ui-shared-icon-button-state-layer-opacity-enabled-hover,      var(--_access-shared-icon-button-state-layer-opacity-enabled-hover,      0.08));
    --variant-state-layer-opacity-enabled-pressed:    var(--glare-ui-shared-icon-button-state-layer-opacity-enabled-pressed,    var(--_access-shared-icon-button-state-layer-opacity-enabled-pressed,    0.12));
    --variant-state-layer-opacity-unselected-enabled: var(--glare-ui-shared-icon-button-state-layer-opacity-unselected-enabled, var(--_access-shared-icon-button-state-layer-opacity-unselected-enabled, 0));
    --variant-state-layer-opacity-unselected-pressed: var(--glare-ui-shared-icon-button-state-layer-opacity-unselected-hover,   var(--_access-shared-icon-button-state-layer-opacity-unselected-hover,   0.08));
    --variant-state-layer-opacity-unselected-pressed: var(--glare-ui-shared-icon-button-state-layer-opacity-unselected-pressed, var(--_access-shared-icon-button-state-layer-opacity-unselected-pressed, 0.12));
    --variant-state-layer-opacity-selected-enabled:   var(--glare-ui-shared-icon-button-state-layer-opacity-selected-enabled,   var(--_access-shared-icon-button-state-layer-opacity-selected-enabled,   0));
    --variant-state-layer-opacity-selected-hover:     var(--glare-ui-shared-icon-button-state-layer-opacity-selected-hover,     var(--_access-shared-icon-button-state-layer-opacity-selected-hover,     0.08));
    --variant-state-layer-opacity-selected-pressed:   var(--glare-ui-shared-icon-button-state-layer-opacity-selected-pressed,   var(--_access-shared-icon-button-state-layer-opacity-selected-pressed,   0.12));

    --_access-shared-ripple-state-layer-color-enabled: var(--_current-state-layer-color-enabled);
    --_access-shared-ripple-state-layer-color-hover: var(--_current-state-layer-color-hover);
    --_access-shared-ripple-state-layer-color-pressed: var(--_current-state-layer-color-pressed);
    --_access-shared-ripple-state-layer-opacity-enabled: var(--_current-state-layer-opacity-enabled);
    --_access-shared-ripple-state-layer-opacity-hover: var(--_current-state-layer-opacity-hover);
    --_access-shared-ripple-state-layer-opacity-pressed: var(--_current-state-layer-opacity-pressed);

    --transition-duration: var(--glare-ui-shared-icon-button-transition, var(--_access-shared-icon-button-transition-duration, 280ms));
    --transition-timing-function: var(--glare-ui-shared-icon-button-transition-timing-function, var(--_access-shared-icon-button-transition-timing-function, cubic-bezier(0.2, 0, 0, 1)));

    width: var(--size);
    height: var(--size);
    border-radius: var(--shape);
    cursor: pointer;
    display: inline-flex;
    place-content: center;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    z-index: 0;
}
.container.unselected:not(.disabled) {
    --_current-state-layer-color-enabled: var(--variant-state-layer-color-unselected-enabled);
    --_current-state-layer-color-hover: var(--variant-state-layer-color-unselected-hover);
    --_current-state-layer-color-pressed: var(--variant-state-layer-color-unselected-pressed);
    --_current-state-layer-opacity-enabled: var(--variant-state-layer-opacity-unselected-enabled);
    --_current-state-layer-opacity-hover: var(--variant-state-layer-opacity-unselected-hover);
    --_current-state-layer-opacity-pressed: var(--variant-state-layer-opacity-unselected-pressed);
}
.container.selected:not(.disabled) {
    --_current-state-layer-color-enabled: var(--variant-state-layer-color-selected-enabled);
    --_current-state-layer-color-hover: var(--variant-state-layer-color-selected-hover);
    --_current-state-layer-color-pressed: var(--variant-state-layer-color-selected-pressed);
    --_current-state-layer-opacity-enabled: var(--variant-state-layer-opacity-selected-enabled);
    --_current-state-layer-opacity-hover: var(--variant-state-layer-opacity-selected-hover);
    --_current-state-layer-opacity-pressed: var(--variant-state-layer-opacity-selected-pressed);
}

.container,
.background,
.outline,
.button>.icon {
    transition-property: background-color, color, box-shadow, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.container.disabled,
.container.disabled>.background,
.container.disabled>.outline, 
.container.disabled>.button>.icon {
    pointer-events: none;
    cursor: not-allowed;
}

.container,
.background,
.button {
    outline: none;
    border: none;
    user-select: none;
}

.background,
.outline {
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: inherit;
}

.background {
    --_current-container-color: var(--variant-container-color-enabled);
    --container-color: var(--_current-container-color);
    --variant-container-color-enabled: var(--glare-ui-shared-icon-button-container-color-enabled, var(--_access-shared-icon-button-container-color-enabled, transparent));
    --variant-container-color-unselected: var(--glare-ui-shared-icon-button-container-color-unselected, var(--_access-shared-icon-button-container-color-unselected, transparent));
    --variant-container-color-selected: var(--glare-ui-shared-icon-button-container-color-selected, var(--_access-shared-icon-button-container-color-selected, transparent));
    --variant-container-color-disabled: var(--glare-ui-shared-icon-button-container-color-disabled, var(--_access-shared-icon-button-container-color-disabled, transparent));

    --_current-container-opacity: var(--variant-container-opacity-enabled);
    --container-opacity: var(--_current-container-opacity);
    --variant-container-opacity-enabled: var(--glare-ui-shared-icon-button-container-opacity-enabled, var(--_access-shared-icon-button-container-opacity-enabled, 1));
    --variant-container-opacity-unselected: var(--glare-ui-shared-icon-button-container-opacity-unselected, var(--_access-shared-icon-button-container-opacity-unselected, 1));
    --variant-container-opacity-selected: var(--glare-ui-shared-icon-button-container-opacity-selected, var(--_access-shared-icon-button-container-opacity-selected, 1));
    --variant-container-opacity-disabled: var(--glare-ui-shared-icon-button-container-opacity-disabled, var(--_access-shared-icon-button-container-opacity-disabled, 0.12));

    background-color: var(--container-color);
    opacity: var(--container-opacity);
}
.container.unselected:not(.disabled)>:is(.background) {
    --_current-container-color: var(--variant-container-color-unselected);
    --_current-container-opacity: var(--variant-container-opacity-unselected);
}
.container.selected:not(.disabled)>:is(.background) {
    --_current-container-color: var(--variant-container-color-selected);
    --_current-container-opacity: var(--variant-container-opacity-selected);
}
.container.disabled>:is(.background) {
    --_current-container-color: var(--variant-container-color-disabled);
    --_current-container-opacity: var(--variant-container-opacity-disabled);
}


.icon {
    --icon-size: var(--glare-ui-shared-icon-size, var(--_access-shared-icon-button-icon-size, 24px));

    --_current-icon-color: var(--variant-icon-color-enabled);
    --icon-color: var(--_current-icon-color);
    --variant-icon-color-enabled: var(--glare-ui-shared-icon-button-icon-color-enabled, var(--_access-shared-icon-button-icon-color-enabled, var(--md-sys-color-on-surface-variant, #49454F)));
    --variant-icon-color-unselected: var(--glare-ui-shared-icon-button-icon-color-unselected, var(--_access-shared-icon-button-icon-color-unselected, var(--md-sys-color-on-surface-variant, #49454F)));
    --variant-icon-color-selected: var(--glare-ui-shared-icon-button-icon-color-selected, var(--_access-shared-icon-button-icon-color-selected, var(--md-sys-color-primary, #6750A4)));
    --variant-icon-color-disabled: var(--glare-ui-shared-icon-button-icon-color-disabled, var(--_access-shared-icon-button-icon-color-disabled, var(--md-sys-color-on-surface, #1D1B20)));

    --_current-icon-opacity: var(--variant-icon-opacity-enabled);
    --icon-opacity: var(--_current-icon-opacity);
    --variant-icon-opacity-enabled: var(--glare-ui-shared-icon-button-icon-opacity-enabled, var(--_access-shared-icon-button-icon-opacity-enabled, 1));
    --variant-icon-opacity-unselected: var(--glare-ui-shared-icon-button-icon-opacity-unselected, var(--_access-shared-icon-button-icon-opacity-unselected, 1));
    --variant-icon-opacity-selected: var(--glare-ui-shared-icon-button-icon-opacity-selected, var(--_access-shared-icon-button-icon-opacity-selected, 1));
    --variant-icon-opacity-disabled: var(--glare-ui-shared-icon-button-icon-opacity-disabled, var(--_access-shared-icon-button-icon-opacity-disabled, 0.38));
    
    opacity: var(--icon-opacity);
    color: var(--icon-color);
    fill: var(--icon-color);
    --_access-shared-icon-color: var(--icon-color);
    --_access-shared-icon-size: var(--icon-size);

    position: relative;
    z-index: 0;
}
.container.unselected:not(.disabled)>.icon {
    --_current-icon-color: var(--variant-icon-color-unselected);
    --_current-icon-opacity: var(--variant-icon-opacity-unselected);
}
.container.selected:not(.disabled)>.icon {
    --_current-icon-color: var(--variant-icon-color-selected);
    --_current-icon-opacity: var(--variant-icon-opacity-selected);
}
.container.disabled>.icon {
    --_current-icon-color: var(--variant-icon-color-disabled);
    --_current-icon-opacity: var(--variant-icon-opacity-disabled);
}

.outline {
    --_current-outline-color: var(--variant-outline-color-enabled);
    --outline-color: var(--_current-outline-color);
    --variant-outline-color-enabled: var(--glare-ui-shared-icon-button-outline-color-enabled, var(--_access-shared-icon-button-outline-color-enabled, var(--md-sys-color-outline, #79747E)));
    --variant-outline-color-unselected: var(--glare-ui-shared-icon-button-outline-color-unselected, var(--_access-shared-icon-button-outline-color-unselected, var(--md-sys-color-outline, #79747E)));
    --variant-outline-color-selected: var(--glare-ui-shared-icon-button-outline-color-selected, var(--_access-shared-icon-button-outline-color-selected, var(--md-sys-color-outline, #79747E)));
    --variant-outline-color-disabled: var(--glare-ui-shared-icon-button-outline-color-disabled, var(--_access-shared-icon-button-outline-color-disabled, var(--md-sys-color-outline, #79747E)));

    --_current-outline-opacity: var(--variant-outline-opacity-enabled);
    --outline-opacity: var(--_current-outline-opacity);
    --variant-outline-opacity-enabled: var(--glare-ui-shared-icon-button-outline-opacity-enabled, var(--_access-shared-icon-button-outline-opacity-enabled, 1));
    --variant-outline-opacity-unselected: var(--glare-ui-shared-icon-button-outline-opacity-unselected, var(--_access-shared-icon-button-outline-opacity-unselected, 1));
    --variant-outline-opacity-selected: var(--glare-ui-shared-icon-button-outline-opacity-selected, var(--_access-shared-icon-button-outline-opacity-selected, 1));
    --variant-outline-opacity-disabled: var(--glare-ui-shared-icon-button-outline-opacity-disabled, var(--_access-shared-icon-button-outline-opacity-disabled, 0.12));

    --_current-outline-style: var(--variant-outline-style-enabled);
    --outline-style: var(--_current-outline-style);
    --variant-outline-style-enabled: var(--glare-ui-shared-icon-button-outline-style-enabled, var(--_access-shared-icon-button-outline-style-enabled, solid));
    --variant-outline-style-unselected: var(--glare-ui-shared-icon-button-outline-style-unselected, var(--_access-shared-icon-button-outline-style-unselected, solid));
    --variant-outline-style-selected: var(--glare-ui-shared-icon-button-outline-style-selected, var(--_access-shared-icon-button-outline-style-selected, solid));
    --variant-outline-style-disabled: var(--glare-ui-shared-icon-button-outline-style-disabled, var(--_access-shared-icon-button-outline-style-disabled, solid));

    --_current-outline-width: var(--variant-outline-width-enabled);
    --outline-width: var(--_current-outline-width);
    --variant-outline-width-enabled: var(--glare-ui-shared-icon-button-outline-width-enabled, var(--_access-shared-icon-button-outline-width-enabled, 0px));
    --variant-outline-width-unselected: var(--glare-ui-shared-icon-button-outline-width-unselected, var(--_access-shared-icon-button-outline-width-unselected, 0px));
    --variant-outline-width-selected: var(--glare-ui-shared-icon-button-outline-width-selected, var(--_access-shared-icon-button-outline-width-selected, 0px));
    --variant-outline-width-disabled: var(--glare-ui-shared-icon-button-outline-width-disabled, var(--_access-shared-icon-button-outline-width-disabled, 0px));

    border-style: var(--outline-style);
    border-width: var(--outline-width);
    border-color: var(--outline-color);
    opacity: var(--outline-opacity);
}
.container.unselected:not(.disabled)>:is(.outline) {
    --_current-outline-color: var(--variant-outline-color-unselected);
    --_current-outline-opacity: var(--variant-outline-opacity-unselected);
    --_current-outline-style: var(--variant-outline-style-unselected);
    --_current-outline-width: var(--variant-outline-width-unselected);
}
.container.selected:not(.disabled)>:is(.outline) {
    --_current-outline-color: var(--variant-outline-color-selected);
    --_current-outline-opacity: var(--variant-outline-opacity-selected);
    --_current-outline-style: var(--variant-outline-style-selected);
    --_current-outline-width: var(--variant-outline-width-selected);
}
.container.disabled>:is(.outline) {
    --_current-outline-color: var(--variant-outline-color-disabled);
    --_current-outline-opacity: var(--variant-outline-opacity-disabled);
    --_current-outline-style: var(--variant-outline-style-disabled);
    --_current-outline-width: var(--variant-outline-width-disabled);
}

.touch {
    position: absolute;
    width: max(48px, 100%);
    height: max(48px, 100%);
}
