.surface {
    --_radio-icon-color: var(--mamv-radio-icon-color, var(--_current-radio-icon-color, var(--md-sys-color-on-surface-variant)));
    --_radio-selected-icon-color: var(--mamv-radio-selected-icon-color, var(--_current-radio-selected-icon-color, var(--md-sys-color-primary)));
    --_radio-icon-size: var(--mamv-radio-icon-size, var(--_current-radio-icon-size, 24px));

    position: relative;
    display: inline-flex;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    display: flex;
    height: 20px;
    width: 20px;
    place-content: center;
    place-items: center;

    --mamv-ripple-shape: 9999px;
    --mamv-ripple-width: 40px;
    --mamv-ripple-height: 40px;
    --mamv-ripple-inset: 1;
}

.surface:hover {
    --mamv-ripple-hover-color: var(--md-sys-color-on-surface);
}

.surface:active {
    --mamv-ripple-hover-color: var(--md-sys-color-primary);
}

.surface[touch-target="wrapper"] {
    margin: max(0px, (48px - var(--_radio-icon-size, 20px))/2);
}

.input {
    appearance: none;
    height: 48px;
    margin: 0;
    position: absolute;
    width: 48px;
    cursor: inherit;
}

.icon {
    fill: var(--_radio-icon-color);
    inset: 0;
    position: absolute;
}

.outer.circle {
    transition: fill 50ms linear;
}

.inner.circle {
    opacity: 0;
    transform-origin: center;
    transition: opacity 50ms linear;
}

.checked {
    --_current-radio-icon-color: var(--md-sys-color-primary);
}

.checked .icon {
    fill: var(--_radio-selected-icon-color);
}

.checked .inner.circle {
    animation: inner-circle-grow 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
    opacity: 1;
}

@keyframes inner-circle-grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.disabled {
    cursor: default;
    --mamv-ripple-hover-opacity: 0;
    --mamv-ripple-pressed-opacity: 0;
    --_current-radio-icon-color: var(--md-sys-color-on-surface);
    --_current-radio-selected-icon-color: var(--md-sys-color-on-surface);
}

.disabled .icon {
    opacity: 0.38;
}
