# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.firebase/*

# Node dependencies
node_modules

.output
dist
dist-ssr
build
!docs
*.local
test-report

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.fleet
.idea
package-lock.json
firebase.json
.firebaserc
packages/ui/tsconfig.tsbuildinfo

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Local env files
.env
.env.*
!.env.example
