# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.firebase/*

# Node dependencies
package-lock.json
node_modules

# Build
.output
.rollup.cache*
dist
dist-ssr
build
!docs
*.local
test-report
.tgz

# chore
src/READMD.md
src/bundle-size.md
src/LICENSE

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.fleet
.idea

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Local env files
.env
.env.*
!.env.example
