//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './internal/validate.scss';
@use './prototype/typeface';
@use './prototype/typescale';
@use './prototype/supported-typescale';

$_default: (
    'gu-ref-typeface': typeface.values(),
);

@function values($deps: $_default,
    $exclude-hardcoded-values: false,
    $exclude-custom-properties: false) {
    $tokens: typescale.values($deps,
            $exclude-hardcoded-values: $exclude-hardcoded-values );

    @if not $exclude-custom-properties {
        @each $token, $value in $tokens {
            @if $value !=null {
                $tokens: map.set($tokens,
                        $token,
                        var(--gu-sys-typescale-#{$token}, #{$value}));
            }
        }
    }

    @return validate.values($tokens,
        $supported-tokens: supported-typescale.$supported-tokens,
        $unsupported-tokens: supported-typescale.$unsupported-tokens );
}
