.surface {
    --_ripple-hover-color: var(--glare-ui-ripple-hover-color, var(--md-sys-color-on-surface));
    --_ripple-pressed-color: var(--glare-ui-ripple-pressed-color, var(--md-sys-color-on-surface));
    --_ripple-hover-opacity: var(--glare-ui-ripple-hover-opacity, var(--_current-ripple-hover-opacity, 0.08));
    --_ripple-pressed-opacity: var(--glare-ui-ripple-pressed-opacity, var(--_current-ripple-pressed-opacity, 0.12));
    --_ripple-shape: var(--glare-ui-ripple-shape);
    --_ripple-height: var(--glare-ui-ripple-height);
    --_ripple-width: var(--glare-ui-ripple-width);
    --_ripple-inset: var(--glare-ui-ripple-inset);

    display: flex;
    margin: auto;
    position: absolute;
    inset: var(--_ripple-inset, 0);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--_ripple-shape, inherit);
    height: var(--_ripple-height, inherit);
    width: var(--_ripple-width, inherit);
    pointer-events: none;
}

.surface::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 15ms linear, background-color 15ms linear;
    background-color: var(--_ripple-hover-color, #1d1b20);
    z-index: 1;
}

.surface::after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 375ms linear;
    transform-origin: center center;
    background: radial-gradient(closest-side,
            var(--_ripple-pressed-color, #1d1b20),
            max(calc(100% - 70px), 65%),
            transparent 100%);
    z-index: 1;
}

.hover::before {
    opacity: var(--_ripple-hover-opacity);
}

.pressed::after {
    transition-duration: 105ms;
    opacity: var(--_ripple-pressed-opacity);
}

.disabled {}
