.surface {
    --state-layer-color: var(--variant-state-layer-color-enabled);
    --variant-state-layer-color-enabled: var(--glare-ui-ripple-state-layer-color-enabled, var(--_access-shared-ripple-state-layer-color-enabled, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-hover: var(--glare-ui-ripple-state-layer-color-hover, var(--_access-shared-ripple-state-layer-color-hover, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-state-layer-color-pressed: var(--glare-ui-ripple-state-layer-color-pressed, var(--_access-shared-ripple-state-layer-color-pressed, var(--md-sys-color-on-surface, #1D1B20)));

    --state-layer-opacity: var(--variant-state-layer-opacity-enabled);
    --variant-state-layer-opacity-enabled: var(--glare-ui-ripple-state-layer-opacity-enabled, var(--_access-shared-ripple-state-layer-opacity-enabled, 0));
    --variant-state-layer-opacity-hover: var(--glare-ui-ripple-state-layer-opacity-hover, var(--_access-shared-ripple-state-layer-opacity-hover, 0.08));
    --variant-state-layer-opacity-pressed: var(--glare-ui-ripple-state-layer-opacity-pressed, var(--_access-shared-ripple-state-layer-opacity-pressed, 0.12));

    --shape: var(--glare-ui-ripple-shape, var(--_access-shared-ripple-state-layer-shape));
    --height: var(--glare-ui-ripple-height, var(--_access-shared-ripple-state-layer-height));
    --width: var(--glare-ui-ripple-width, var(--_access-shared-ripple-state-layer-width));

    --transition-duration: var(--variant-transition-duration-enabled);
    --variant-transition-duration-enabled: var(--glare-ui-ripple-state-layer-color-enabled, var(--_access-shared-ripple-transition-duration-enabled, 150ms));
    --variant-transition-duration-hover: var(--glare-ui-ripple-state-layer-color-hover, var(--_access-shared-ripple-transition-duration-hover, 75ms));
    --variant-transition-duration-pressed: var(--glare-ui-ripple-state-layer-color-pressed, var(--_access-shared-ripple-transition-duration-pressed, 375ms));
    --variant-transition-duration-pressed-after: var(--glare-ui-ripple-state-layer-color-pressed-after, var(--_access-shared-ripple-transition-duration-pressed-after, 105ms));

    --touch-target: var(--glare-ui-ripple-touch-target, var(--glare-ui-ripple-inset, var(--_access-shared-ripple-touch-target, 0)));
    --z-index: var(--glare-ui-ripple-z-index, var(--_access-shared-ripple-z-index, 1));

    display: flex;
    margin: auto;
    position: absolute;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    z-index: var(--z-index);
    border-radius: var(--shape, inherit);
    height: var(--height, inherit);
    width: var(--width, inherit);
    inset: var(--touch-target);
    pointer-events: none;
}

.surface::before,
.surface::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: var(--state-layer-opacity);
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
    pointer-events: none;
}
.surface::before {
    transition-property: opacity, background-color;
    background-color: var(--state-layer-color);
}
.surface::after {
    --transition-duration: var(--variant-transition-duration-pressed);
    transition-property: opacity;
    transform-origin: center center;
    background: radial-gradient(closest-side, var(--state-layer-color), max(calc(100% - 70px), 65%), transparent 100%);
}

.surface[data-hover="true"]::before,
.hover.surface::before {
    --state-layer-opacity: var(--variant-state-layer-opacity-hover);
    --state-layer-color: var(--variant-state-layer-color-hover);
    --transition-duration: var(--variant-transition-duration-hover);
}

.surface[data-pressed="true"]::after,
.pressed.surface::after {
    --state-layer-opacity: var(--variant-state-layer-opacity-pressed);
    --state-layer-color: var(--variant-state-layer-color-pressed);
    --transition-duration: var(--variant-transition-duration-pressed-after);
}
