//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//
// [Modified by glare-labs & bre97-web]
//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use 'sass:map';
@use '../../../tokens';
@use '../../../themes';

@mixin styles() {
    $tokens: tokens.md-comp-fab-values();

    &.surface,
    &.primary,
    &.secondary,
    &.tertiary {
        @include themes.md-comp-ripple-theme(
            (
                hover-opacity: var(--_hover-state-layer-opacity),
                pressed-opacity: var(--_pressed-state-layer-opacity),
            )
        );
    }

    &.surface {
        @include themes.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, hover-state-layer-color),
                'pressed-color': map.get($tokens, pressed-state-layer-color),
            )
        );
    }

    &.primary {
        @include themes.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, primary-hover-state-layer-color),
                'pressed-color': map.get($tokens, primary-pressed-state-layer-color),
            )
        );
    }

    &.secondary {
        @include themes.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, secondary-hover-state-layer-color),
                'pressed-color': map.get($tokens, secondary-pressed-state-layer-color),
            )
        );
    }

    &.tertiary {
        @include themes.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, tertiary-hover-state-layer-color),
                'pressed-color': map.get($tokens, tertiary-pressed-state-layer-color),
            )
        );
    }
}
