@use 'sass:map';
@use '../../../tokens';
@use '../../../theme';

@mixin styles() {
    $tokens: tokens.md-comp-fab-values();

    &.surface,
    &.primary,
    &.secondary,
    &.tertiary {
        @include theme.md-comp-ripple-theme(
            (
                hover-opacity: var(--_hover-state-layer-opacity),
                pressed-opacity: var(--_pressed-state-layer-opacity),
            )
        );
    }

    &.surface {
        @include theme.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, hover-state-layer-color),
                'pressed-color': map.get($tokens, pressed-state-layer-color),
            )
        );
    }

    &.primary {
        @include theme.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, primary-hover-state-layer-color),
                'pressed-color': map.get($tokens, primary-pressed-state-layer-color),
            )
        );
    }

    &.secondary {
        @include theme.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, secondary-hover-state-layer-color),
                'pressed-color': map.get($tokens, secondary-pressed-state-layer-color),
            )
        );
    }

    &.tertiary {
        @include theme.md-comp-ripple-theme(
            (
                'hover-color': map.get($tokens, tertiary-hover-state-layer-color),
                'pressed-color': map.get($tokens, tertiary-pressed-state-layer-color),
            )
        );
    }
}
