//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//
// [Modified by glare-labs & bre97-web]
//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use 'sass:map';
@use '../../../tokens';

@mixin styles() {
    $tokens: tokens.md-comp-divider-values();

    & {
        box-sizing: border-box;
        color: map.get($tokens, 'color');
        display: flex;
        height: map.get($tokens, 'thickness');
        width: 100%;

        &.inset,
        &.inset-start {
            padding-inline-start: 16px;
        }

        &.inset,
        &.inset-end {
            padding-inline-end: 16px;
        }

        &::before {
            background: currentColor;
            content: '';
            height: 100%;
            width: 100%;
        }
    }

    @media (forced-colors: active) {
        &::before {
            background: CanvasText;
        }
    }
}
