.container {
    --min-height: var(--glare-ui-shared-button-min-height, var(--_access-shared-button-min-height, 40px));
    --shape: var(--glare-ui-shared-button-shape, var(--_access-shared-button-shape, 20px));
    --leading-space: var(--_current-leading-space);
    --trailing-space: var(--_current-trailing-space);
    --_current-leading-space: var(--variant-leading-space);
    --_current-trailing-space: var(--variant-trailing-space);
    --variant-leading-space: var(--glare-ui-shared-button-leading-space, var(--_access-shared-button-leading-space, 24px));
    --variant-trailing-space: var(--glare-ui-shared-button-trailing-space, var(--_access-shared-button-trailing-space, 24px));
    --variant-leading-space-with-icon: var(--glare-ui-shared-button-leading-space-with-icon, var(--_access-shared-button-leading-space-with-icon, 16px));
    --variant-trailing-space-with-icon: var(--glare-ui-shared-button-trailing-space-with-icon, var(--_access-shared-button-trailing-space-with-icon, 24px));

    --_access-shared-ripple-state-layer-color-enabled: var(--glare-ui-shared-button-state-layer-color-enabled, var(--_access-shared-button-state-layer-color-enabled, var(--md-sys-color-on-surface, #1D1B20)));
    --_access-shared-ripple-state-layer-color-hover: var(--glare-ui-shared-button-state-layer-color-hover, var(--_access-shared-button-state-layer-color-hover, var(--md-sys-color-on-surface, #1D1B20)));
    --_access-shared-ripple-state-layer-color-pressed: var(--glare-ui-shared-button-state-layer-color-pressed, var(--_access-shared-button-state-layer-color-pressed, var(--md-sys-color-on-surface, #1D1B20)));
    --_access-shared-ripple-state-layer-opacity-enabled: var(--glare-ui-shared-button-state-layer-opacity-enabled, var(--_access-shared-button-state-layer-opacity-enabled, 0));
    --_access-shared-ripple-state-layer-opacity-hover: var(--glare-ui-shared-button-state-layer-opacity-hover, var(--_access-shared-button-state-layer-opacity-hover, 0.08));
    --_access-shared-ripple-state-layer-opacity-pressed: var(--glare-ui-shared-button-state-layer-opacity-pressed, var(--_access-shared-button-state-layer-opacity-pressed, 0.12));

    --_access-shared-elevation-level: var(--glare-ui-shared-button-elevation-level, var(--_access-shared-button-elevation-level));
    --_access-shared-elevation-color: var(--glare-ui-shared-button-elevation-color, var(--_access-shared-button-elevation-color, var(--md-sys-color-shadow, #000000)));

    --transition-duration: var(--glare-ui-shared-button-transition, var(--_access-shared-button-transition-duration, 280ms));
    --transition-timing-function: var(--glare-ui-shared-button-transition-timing-function, var(--_access-shared-button-transition-timing-function, cubic-bezier(0.2, 0, 0, 1)));

    min-height: var(--min-height);
    border-radius: var(--shape);
    cursor: pointer;
    display: inline-flex;
    place-content: center;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    z-index: 0;
    padding-inline-start: var(--leading-space);
    padding-inline-end: var(--trailing-space);
}

.container,
.background,
.outline,
.button>.icon,
.button>.label {
    transition-property: background-color, color, box-shadow, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.container.disabled {
    --_access-shared-elevation-level: 0;
}

.container.disabled,
.container.disabled>.background,
.container.disabled>.outline, 
.container.disabled>.button>.label,
.container.disabled>.button>.icon {
    pointer-events: none;
    cursor: not-allowed;
}

.container,
.background,
.label,
.button {
    outline: none;
    border: none;
    user-select: none;
}

.background,
.outline {
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: inherit;
}

.background {
    --_current-container-color: var(--variant-container-color-enabled);
    --container-color: var(--_current-container-color);
    --variant-container-color-enabled: var(--glare-ui-shared-button-container-color-enabled, var(--_access-shared-button-container-color-enabled, transparent));
    --variant-container-color-disabled: var(--glare-ui-shared-button-container-color-disabled, var(--_access-shared-button-container-color-disabled, var(--md-sys-color-on-surface,#1D1B20)));

    --_current-container-opacity: var(--variant-container-opacity-enabled);
    --container-opacity: var(--_current-container-opacity);
    --variant-container-opacity-enabled: var(--glare-ui-shared-button-container-opacity-enabled, var(--_access-shared-button-container-opacity-enabled, 1));
    --variant-container-opacity-disabled: var(--glare-ui-shared-button-container-opacity-disabled, var(--_access-shared-button-container-opacity-disabled, 0.12));

    background-color: var(--container-color);
    opacity: var(--container-opacity);
}

.container.disabled>:is(.background) {
    --_current-container-color: var(--variant-container-color-disabled);
    --_current-container-opacity: var(--variant-container-opacity-disabled);
}
.button {
    min-width: calc(64px - var(--leading-space) - var(--trailing-space));
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* z-index: 0; */
    border-radius: inherit;
    cursor: inherit;
    background: transparent;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: none;
    vertical-align: middle;
    appearance: none;
}
.label {
    --_current-label-color: var(--variant-label-color-enabled);
    --label-color: var(--_current-label-color);
    --variant-label-color-enabled: var(--glare-ui-shared-button-label-color-enabled, var(--_access-shared-button-label-color-enabled, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-label-color-disabled: var(--glare-ui-shared-button-label-color-disabled, var(--_access-shared-button-label-color-disabled, var(--md-sys-color-on-surface, #1D1B20)));

    --_current-label-opacity: var(--variant-label-opacity-enabled);
    --label-opacity: var(--_current-label-opacity);
    --variant-label-opacity-enabled: var(--glare-ui-shared-button-label-opacity-enabled, var(--_access-shared-button-label-opacity-enabled, 1));
    --variant-label-opacity-disabled: var(--glare-ui-shared-button-label-opacity-disabled, var(--_access-shared-button-label-opacity-disabled, 0.38));

    --label-font: var(--glare-ui-shared-button-label-font, var(--_access-shared-button-label-font, var(--md-sys-typescale-label-large-font, "Roboto")));
    --label-line-height: var(--glare-ui-shared-button-label-line-height, var(--_access-shared-button-label-line-height, var(--md-sys-typescale-label-large-line-height, 20px)));
    --label-font-size: var(--glare-ui-shared-button-label-font-size, var(--_access-shared-button-label-font-size, var(--md-sys-typescale-label-large-font-size, 14px)));
    --label-font-weight: var(--glare-ui-shared-button-label-font-weight, var(--_access-shared-button-label-font-weight, var(--md-sys-typescale-label-large-font-weight, 500)));
    --label-letter-spacing: var(--glare-ui-shared-button-label-letter-spacing, var(--_access-shared-button-label-letter-spacing, var(--md-sys-typescale-label-large-letter-spacing, 0.1px)));

    color: var(--label-color);
    opacity: var(--label-opacity);
    font-family: var(--label-font);
    line-height: var(--label-line-height);
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: inherit;

}
.icon {
    --icon-size: var(--glare-ui-shared-icon-size, var(--_access-shared-button-icon-size, 18px));

    --_current-icon-color: var(--variant-icon-color-enabled);
    --icon-color: var(--_current-icon-color);
    --variant-icon-color-enabled: var(--glare-ui-shared-button-icon-color-enabled, var(--_access-shared-button-icon-color-enabled, var(--md-sys-color-on-surface, #1D1B20)));
    --variant-icon-color-disabled: var(--glare-ui-shared-button-icon-color-disabled, var(--_access-shared-button-icon-color-disabled, var(--md-sys-color-on-surface, #1D1B20)));

    --_current-icon-opacity: var(--variant-icon-opacity-enabled);
    --icon-opacity: var(--_current-icon-opacity);
    --variant-icon-opacity-enabled: var(--glare-ui-shared-button-icon-opacity-enabled, var(--_access-shared-button-icon-opacity-enabled, 1));
    --variant-icon-opacity-disabled: var(--glare-ui-shared-button-icon-opacity-disabled, var(--_access-shared-button-icon-opacity-disabled, 0.38));
    
    opacity: var(--icon-opacity);
    color: var(--icon-color);
    fill: var(--icon-color);
    --_access-shared-icon-color: var(--icon-color);
    --_access-shared-icon-size: var(--icon-size);
}
.container.disabled>.button>.icon {
    --_current-icon-color: var(--variant-icon-color-disabled);
    --_current-icon-opacity: var(--variant-icon-opacity-disabled);
}
.container.disabled>.button>.label {
    --_current-label-color: var(--variant-label-color-disabled);
    --_current-label-opacity: var(--variant-label-opacity-disabled);
}

.container:has(.icon):not(:has(.label)) {
    --_current-leading-space: var(--variant-leading-space);
    --_current-trailing-space: var(--variant-trailing-space);
}
.container:has(.icon):has(.label):not(:has(.button.revert)) {
    --_current-leading-space: var(--variant-leading-space-with-icon);
    --_current-trailing-space: var(--variant-trailing-space-with-icon);
}
.container:has(.icon):has(.label):has(.button.revert) {
    --_current-leading-space: var(--variant-trailing-space-with-icon);
    --_current-trailing-space: var(--variant-leading-space-with-icon);
}
.outline {
    --_current-outline-color: var(--variant-outline-color-enabled);
    --outline-color: var(--_current-outline-color);
    --variant-outline-color-enabled: var(--glare-ui-shared-button-outline-color-enabled, var(--_access-shared-button-outline-color-enabled, var(--md-sys-color-outline, #79747E)));
    --variant-outline-color-disabled: var(--glare-ui-shared-button-outline-color-disabled, var(--_access-shared-button-outline-color-disabled, var(--md-sys-color-outline, #79747E)));

    --_current-outline-opacity: var(--variant-outline-opacity-enabled);
    --outline-opacity: var(--_current-outline-opacity);
    --variant-outline-opacity-enabled: var(--glare-ui-shared-button-outline-opacity-enabled, var(--_access-shared-button-outline-opacity-enabled, 1));
    --variant-outline-opacity-disabled: var(--glare-ui-shared-button-outline-opacity-disabled, var(--_access-shared-button-outline-opacity-disabled, 0.12));

    --_current-outline-style: var(--variant-outline-style-enabled);
    --outline-style: var(--_current-outline-style);
    --variant-outline-style-enabled: var(--glare-ui-shared-button-outline-style-enabled, var(--_access-shared-button-outline-style-enabled, solid));
    --variant-outline-style-disabled: var(--glare-ui-shared-button-outline-style-disabled, var(--_access-shared-button-outline-style-disabled, solid));

    --_current-outline-width: var(--variant-outline-width-enabled);
    --outline-width: var(--_current-outline-width);
    --variant-outline-width-enabled: var(--glare-ui-shared-button-outline-width-enabled, var(--_access-shared-button-outline-width-enabled, 1px));
    --variant-outline-width-disabled: var(--glare-ui-shared-button-outline-width-disabled, var(--_access-shared-button-outline-width-disabled, 1px));

    border-style: var(--outline-style);
    border-width: var(--outline-width);
    border-color: var(--outline-color);
    opacity: var(--outline-opacity);
}

.container.disabled>:is(.outline) {
    --_current-outline-color: var(--variant-outline-color-disabled);
    --_current-outline-opacity: var(--variant-outline-opacity-disabled);
    --_current-outline-style: var(--variant-outline-style-disabled);
    --_current-outline-width: var(--variant-outline-width-disabled);
}

.button.revert {
    flex-direction: row-reverse;
}
