@use 'sass:list';
@use 'sass:map';
@use '../../../tokens';

@mixin theme($tokens) {
    $supported-tokens: tokens.$md-comp-filled-button-supported-tokens;

    @each $token, $value in $tokens {
        @if list.index($supported-tokens, $token)==null {
            @error 'Token `#{$token}` is not a supported token.';
        }

        @if $value {
            --md-filled-button-#{$token}: #{$value};
        }
    }
}

@mixin styles() {
    $tokens: tokens.md-comp-filled-button-values();

    // Only use the logical properties.
    $tokens: map.remove($tokens, 'container-shape');

    & {
        @each $token, $value in $tokens {
            --_#{$token}: #{$value};
        }
    }
}
