//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use 'sass:map';

@mixin styles() {
    & {
        --container-shape-less: 4px;

        display: inline-flex;
        gap: 4px;

        & > [data-component='split-button'] {
            border-start-start-radius: var(--container-shape-less);
            border-start-end-radius: var(--container-shape-less);
            border-end-start-radius: var(--container-shape-less);
            border-end-end-radius: var(--container-shape-less);
        }

        & > :first-child {
            border-start-start-radius: 20px;
            border-end-start-radius: 20px;
        }
        & > :last-child {
            border-start-end-radius: 20px;
            border-end-end-radius: 20px;
        }
    }
}
