//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use '../../../themes';

@mixin styles() {
    & {
        @include themes.md-comp-ripple-theme(
            (
                hover-color: var(--_hover-state-layer-color),
                pressed-color: var(--_pressed-state-layer-color),
                hover-opacity: var(--_hover-state-layer-opacity),
                pressed-opacity: var(--_pressed-state-layer-opacity),
            )
        );
    }
}
