//
// Copyright 2021 Google LLC
// SPDX-License-Identifier: Apache-2.0
//
// [Modified by glare-labs & bre97-web]
//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use 'sass:map';
@use '../../../tokens';

@mixin styles() {
    $tokens: tokens.md-comp-text-button-values();

    // Only use the logical properties.
    $tokens: map.remove($tokens, 'container-shape');

    & {
        @each $token, $value in $tokens {
            --_#{$token}: #{$value};
        }

        --_container-color: none;
        --_disabled-container-color: none;
        --_disabled-container-opacity: 0;
    }
}
