.icon {
    --position: var(--glare-ui-icon-position, --_access-shared-icon-position, relative);

    --color: var(--glare-ui-icon-color, --_access-shared-icon-color, var(--md-sys-color-on-surface, #1D1B20));
    --fill: var(--glare-ui-icon-fill, --_access-shared-icon-fill, var(--md-sys-color-on-surface, #1D1B20));
    --opacity: var(--glare-ui-icon-opacity, var(--_access-shared-icon-opacity, 1));

    --_current-size: var(--variant-size-medium);
    --size: var(--glare-ui-icon-size, var(--_access-shared-icon-size, var(--_current-size)));
    --variant-size-small: var(--_access-shared-icon-size-small, 18px);
    --variant-size-medium: var(--_access-shared-icon-size-medium, 24px);
    --variant-size-semi-large: var(--_access-shared-icon-size-semi-large, 36px);
    --variant-size-large: var(--_access-shared-icon-size-large, 48px);

    --font: var(--glare-ui-icon-font, var(--_access-shared-icon-font, var(--_current-font)));
    --line-height: var(--glare-ui-icon-line-height, var(--_access-shared-icon-line-height, --_current-size));
    --writing-mode: var(--glare-ui-icon-writing-mode, var(--_access-shared-icon-writing-mode, ltr));

    font-size: var(--size);
    font-family: var(--font);
    line-height: var(--line-height);
    color: var(--color);
    position: var(--position);
    writing-mode: var(--writing-mode);
    fill: var(--fill);
    opacity: var(--opacity);

    display: inline-flex;
    place-content: center;
    place-items: center;

    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.icon.small {
    --_current-size: var(--variant-size-small);
}
.icon.medium {
    --_current-size: var(--variant-size-medium);
}
.icon.semi-large {
    --_current-size: var(--variant-size-semi-large);
}
.icon.large {
    --_current-size: var(--variant-size-large);
}

.icon.outlined {
    --font: 'Material Symbols Outlined';
}

.icon.rounded {
    --font: 'Material Symbols Rounded';
}

.icon.sharp {
    --font: 'Material Symbols Sharp';
}
