.surface {
    --_icon-size: var(--glare-ui-icon-size, var(--_current-icon-size, 24px));
    --_icon-opacity: var(--glare-ui-icon-opacity, var(--_current-icon-opacity, 1));
    --_icon-color: var(--glare-ui-icon-color, var(--_current-icon-color, var(--md-sys-color-on-surface, #191d19)));
    --_icon-line-height: var(--glare-ui-icon-line-height, var(--_current-icon-line-height, 24px));
    --_icon-font-family: var(--glare-ui-icon-font-family, var(--_current-icon-font-family, 24px));

    --_icon-display: var(--glare-ui-icon-display);
    --_icon-position: var(--glare-ui-icon-position, relative);
    --_icon-writing-mode: var(--glare-ui-icon-writing-mode, horizontal-tb);
    --_icon-fill: var(--glare-ui-icon-fill, currentColor);
    --_icon-flex-shrink: var(--glare-ui-icon-flex-shrink, 0);
    --_icon-inline-size: var(--glare-ui-icon-inline-size);
    --_icon-block-size: var(--glare-ui-icon-block-size);


    line-height: var(--_icon-line-height);
    font-size: var(--_icon-size);
    font-family: var(--_icon-font-family);
    color: var(--_icon-color);
    display: var(--_icon-display);
    position: var(--_icon-position);
    writing-mode: var(--_icon-writing-mode);
    fill: var(--_icon-fill);
    flex-shrink: var(--_icon-flex-shrink);
    inline-size: var(--_icon-inline-size);
    block-size: var(--_icon-block-size);
    opacity: var(--_icon-opacity);

    align-items: center;
    justify-content: center;

    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.small {
    --_current-icon-size: 22px;
    --_current-icon-line-height: 22px;
}

.medium {
    --_current-icon-size: 24px;
    --_current-icon-line-height: 24px;
}

.large {
    --_current-icon-size: 44px;
    --_current-icon-line-height: 44px;
}

.outlined {
    --_current-icon-font-family: 'Material Symbols Outlined';
}

.rounded {
    --_current-icon-font-family: 'Material Symbols Rounded';
}

.sharp {
    --_current-icon-font-family: 'Material Symbols Sharp';
}
