.chip {
    position: relative;
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid var(--md-sys-color-outline-variant);
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);

    transition-property: color, border, background-color;
    transition-duration: 100ms;

    user-select: none;
    cursor: pointer;
    
    &.selected {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
        border-color: transparent;
    }
}

.chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 16px;
    padding: 16px;
    border-radius: 28px;
    background-color: var(--md-sys-color-surface-container-lowest);
}
