//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_192/md-comp-navigation-bar';

$supported-tokens: (
    'active-indicator-color',
    'active-indicator-height',
    'active-indicator-shape',
    'active-indicator-width',
    'active-hover-icon-color',
    'active-hover-label-text-color',
    'active-hover-state-layer-color',
    'active-icon-color',
    'active-label-text-color',
    'active-label-text-weight',
    'active-pressed-icon-color',
    'active-pressed-label-text-color',
    'active-pressed-state-layer-color',
    'active-focus-icon-color',
    'active-focus-label-text-color',
    'inactive-icon-color',
    'inactive-label-text-color',
    'inactive-pressed-icon-color',
    'inactive-pressed-label-text-color',
    'inactive-focus-icon-color',
    'inactive-focus-label-text-color',
    'inactive-hover-icon-color',
    'inactive-hover-label-text-color',
    'inactive-pressed-label-text-color',
    'inactive-pressed-state-layer-color',
    'label-text-font',
    'label-text-line-height',
    'label-text-size',
    'container-color',
    'container-elevation',
    'container-height',
    'container-shape',
    'icon-size',
    'label-text-weight',
    'pressed-state-layer-opacity'
);

// prettier-ignore
$unsupported-tokens: (
    'active-focus-state-layer-color',
    'inactive-focus-state-layer-color',
    'focus-state-layer-opacity',
    'hover-state-layer-opacity',
    'label-text-tracking',
    'label-text-type'
);

$_default: (
    'md-sys-color': md-sys-color.values-light(),
    'md-sys-elevation': md-sys-elevation.values(),
    'md-sys-shape': md-sys-shape.values(),
    'md-sys-state': md-sys-state.values(),
    'md-sys-typescale': md-sys-typescale.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false, $exclude-custom-properties: false) {
    $tokens: md-comp-navigation-bar.values($deps, $exclude-hardcoded-values);

    @if not $exclude-custom-properties {
        @each $token, $value in $tokens {
            $tokens: map.set($tokens, $token, var(--md-navigation-bar-#{$token}, #{$value}));
        }
    }

    @return $tokens;
}
