//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './internal/validate';
@use './md-sys-color';
@use './md-sys-elevation';

// prettier-ignore
$supported-tokens: (
    'level',
    'shadow-color'
);

$_default: (
    'md-sys-color': md-sys-color.values-light(),
    'md-sys-elevation': md-sys-elevation.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false, $exclude-custom-properties: false) {
    $tokens: (
        'level': map.get($deps, 'md-sys-elevation', 'level0'),
        'shadow-color': map.get($deps, 'md-sys-color', 'shadow'),
    );

    @if not $exclude-custom-properties {
        @each $token, $value in $tokens {
            $tokens: map.set($tokens, $token, var(--md-elevation-#{$token}, #{$value}));
        }
    }

    @return validate.values($tokens, $supported-tokens: $supported-tokens);
}
