//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './internal/validate';
@use './md-sys-color';
@use './v0_192/md-comp-list';

// prettier-ignore
$supported-tokens: (
    'container-color',
);

$_default: (
    'md-sys-color': md-sys-color.values-light(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false, $exclude-custom-properties: false) {
    $list-tokens: md-comp-list.values($deps, $exclude-hardcoded-values);
    $tokens: (
        'container-color': map.get($list-tokens, 'list-item-container-color'),
    );

    $tokens: validate.values($tokens, $supported-tokens: $supported-tokens);

    @if not $exclude-custom-properties {
        @each $token, $value in $tokens {
            $tokens: map.set($tokens, $token, var(--md-list-#{$token}, #{$value}));
        }
    }

    @return $tokens;
}
