//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './internal/validate';
@use './v0_192/md-ref-typeface';

// prettier-ignore
$supported-tokens: (
    'brand',
    'plain',
    'weight-bold',
    'weight-medium',
    'weight-regular',
);

@function values($exclude-hardcoded-values: false, $exclude-custom-properties: false) {
    $tokens: md-ref-typeface.values(
        $exclude-hardcoded-values: $exclude-hardcoded-values,
    );

    @if not $exclude-custom-properties {
        // Create --md-ref-typeface-* custom properties
        @each $token, $value in $tokens {
            @if $value != null {
                $tokens: map.set($tokens, $token, var(--md-ref-typeface-#{$token}, #{$value}));
            }
        }
    }

    @return validate.values($tokens, $supported-tokens: $supported-tokens);
}
