//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use '../elevation';
@use '../shape';
@use '../state';
@use './prototype/prototype-filled-card';

$supported-tokens: (
  'container-color',
  'container-elevation',
  'container-shadow-color',
  'container-shape',
);
$unsupported-tokens: (
  'disabled-container-color',
  'disabled-container-elevation',
  'disabled-container-opacity',
  'dragged-container-elevation',
  'dragged-state-layer-color',
  'dragged-state-layer-opacity',
  'focus-container-elevation',
  'focus-state-layer-color',
  'focus-state-layer-opacity',
  'hover-container-elevation',
  'hover-state-layer-color',
  'hover-state-layer-opacity',
  'icon-color',
  'icon-size',
  'pressed-container-elevation',
  'pressed-state-layer-color',
  'pressed-state-layer-opacity',
);
$_default: (
  'gu-sys-color': color.values-light(),
  'gu-sys-elevation': elevation.values(),
  'gu-sys-shape': shape.values(),
  'gu-sys-state': state.values(),
);

@function values($deps: $_default,
  $exclude-hardcoded-values: false,
  $exclude-custom-properties: true) {
  $tokens: validate.values(prototype-filled-card.values($deps, $exclude-hardcoded-values),
      $supported-tokens: $supported-tokens,
      $unsupported-tokens: $unsupported-tokens );

  @if not $exclude-custom-properties {
    @each $token, $value in $tokens {
      $tokens: map.set($tokens,
          $token,
          var(--gu-filled-card-#{$token}, #{$value}));
    }
  }

  @return $tokens;
}
