//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use './prototype/prototype-divider';

$supported-tokens: (
  'color',
  'thickness',
);

$_default: (
  'gu-sys-color': color.values-light(),
);

@function values($deps: $_default,
  $exclude-hardcoded-values: false,
  $exclude-custom-properties: true) {
  $tokens: validate.values(prototype-divider.values($deps, $exclude-hardcoded-values),
      $supported-tokens: $supported-tokens );

  @if not $exclude-custom-properties {
    @each $token, $value in $tokens {
      $tokens: map.set($tokens, $token, var(--gu-divider-#{$token}, #{$value}));
    }
  }

  @return $tokens;
}
