//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use './prototype/prototype-list';

$supported-tokens: (
  'container-color',
);
$_default: (
  'gu-sys-color': color.values-light(),
);

@function values($deps: $_default,
  $exclude-hardcoded-values: false,
  $exclude-custom-properties: true) {
  $list-tokens: prototype-list.values($deps, $exclude-hardcoded-values);
  $tokens: (
    'container-color': map.get($list-tokens, 'list-item-container-color'),
  );
$tokens: validate.values($tokens, $supported-tokens: $supported-tokens);

@if not $exclude-custom-properties {
  @each $token, $value in $tokens {
    $tokens: map.set($tokens, $token, var(--gu-list-#{$token}, #{$value}));
  }
}

@return $tokens;
}
