//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use '../elevation';
@use '../shape';
@use './prototype/prototype-menu';

$supported-tokens: (
  'container-color',
  'container-elevation',
  'container-shadow-color',
  'container-shape',
);
$unsupported-tokens: (
  'list-item-selected-container-color',
  'list-item-selected-label-text-color',
  'list-item-selected-with-leading-icon-trailing-icon-color',
  'menu-list-item-with-leading-icon-icon-color',
);
$_default: (
  'gu-sys-color': color.values-light(),
  'gu-sys-elevation': elevation.values(),
  'gu-sys-shape': shape.values(),
);

@function values($deps: $_default,
  $exclude-hardcoded-values: false,
  $exclude-custom-properties: true) {
  $tokens: validate.values(prototype-menu.values($deps),
      $supported-tokens: $supported-tokens,
      $unsupported-tokens: $unsupported-tokens );

  @if not $exclude-custom-properties {
    @each $token, $value in $tokens {
      $tokens: map.set($tokens, $token, var(--gu-menu-#{$token}, #{$value}));
    }
  }

  @return $tokens;
}
