//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use '../shape';
@use './prototype/prototype-linear-progress-indicator';

$_default: (
  'gu-sys-color': color.values-light(),
  'gu-sys-shape': shape.values(),
);
$supported-tokens: (
  'active-indicator-color',
  'active-indicator-height',
  'four-color-active-indicator-four-color',
  'four-color-active-indicator-one-color',
  'four-color-active-indicator-three-color',
  'four-color-active-indicator-two-color',
  'track-color',
  'track-height',
  'track-shape',
);
$unsupported-tokens: (
  'active-indicator-shape',
);

@function values($deps: $_default,
  $exclude-hardcoded-values: false,
  $exclude-custom-properties: true) {
  $tokens: validate.values(prototype-linear-progress-indicator.values($deps, $exclude-hardcoded-values),
      $supported-tokens: $supported-tokens,
      $unsupported-tokens: $unsupported-tokens );

  @if not $exclude-custom-properties {
    @each $token, $value in $tokens {
      $tokens: map.set($tokens,
          $token,
          var(--gu-linear-progress-#{$token}, #{$value}));
    }
  }

  @return $tokens;
}
