//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use '../internal/validate';
@use '../color';
@use '../shape';
@use '../state';

$supported-tokens: (
  'hover-color',
  'hover-opacity',
  'pressed-color',
  'pressed-opacity',
);

$_default: (
  'gu-sys-color': color.values-light(),
  'gu-sys-state': state.values(),
);

@function values($deps: $_default, $exclude-custom-properties: true) {
  $tokens: (
    'hover-color': map.get($deps, 'gu-sys-color', 'on-surface'),
    'hover-opacity': map.get($deps, 'gu-sys-state', 'hover-state-layer-opacity'),
    'pressed-color': map.get($deps, 'gu-sys-color', 'on-surface'),
    'pressed-opacity': map.get($deps, 'gu-sys-state', 'pressed-state-layer-opacity'),
  );

$tokens: validate.values($tokens, $supported-tokens: $supported-tokens);

@if not $exclude-custom-properties {
  @each $token, $value in $tokens {
    $tokens: map.set($tokens, $token, var(--gu-ripple-#{$token}, #{$value}));
  }
}

@return $tokens;
}
