
.surface {
    --mamv-layout-margin-margin-inner: var(--mamv-layout-margin-margin);
    --mamv-layout-margin-margin-left-inner: var(--mamv-layout-margin-margin-left, var(--mamv-layout-margin-margin-inner, 4px));
    --mamv-layout-margin-margin-right-inner: var(--mamv-layout-margin-margin-right, var(--mamv-layout-margin-margin-inner, 4px));
    --mamv-layout-margin-margin-top-inner: var(--mamv-layout-margin-margin-top, var(--mamv-layout-margin-margin-inner, 4px));
    --mamv-layout-margin-margin-bottom-inner: var(--mamv-layout-margin-margin-bottom, var(--mamv-layout-margin-margin-inner, 4px));

    /* margin: var(--mamv-layout-margin-margin-inner); */

    margin-left: var(--mamv-layout-margin-margin-left-inner);
    margin-right: var(--mamv-layout-margin-margin-right-inner);
    margin-top: var(--mamv-layout-margin-margin-top-inner);
    margin-bottom: var(--mamv-layout-margin-margin-bottom-inner);

    padding: 0;
    border: none;
    outline: none;
    position: relative;
    display: inline-block;
}
