@use 'sass:list';
@use 'sass:map';
@use '../../../tokens';

@mixin styles() {
    $tokens: tokens.md-comp-navigation-drawer-values();

    @layer mdc-navigation-drawer-headline-component {

        & {
            font: map.get($tokens, 'headline-font');
            color: map.get($tokens, 'headline-color');
            line-height: map.get($tokens, 'headline-line-height');
            size: map.get($tokens, 'headline-size');
            font-weight: map.get($tokens, 'headline-weight');
            letter-spacing: map.get($tokens, 'headline-tracking');
            display: inline-block;
            margin-top: 16px;
            margin-bottom: 16px;
        }

    }

}
