//
// Copyright 2025 glare-labs & bre97-web
// SPDX-License-Identifier: MIT
//

@use 'sass:list';
@use 'sass:map';
@use '../../../tokens';

@mixin styles() {
    $tokens: tokens.md-comp-navigation-drawer-values();

    &.standard {
        position: relative;
    }

    &.modal {
        position: fixed;
    }

    &.standard:has(dialog.dialog[open]) .scrim {
        display: none;
    }

    &.modal:has(dialog.dialog[open]) .scrim {
        display: flex;
    }

    &.standard .container .background {
        background: map.get($tokens, 'standard-container-color');
    }

    &.modal .container .background {
        background: map.get($tokens, 'modal-container-color');
    }

    &.standard .scrim {
        position: absolute;
    }

    &.modal .scrim {
        position: fixed;
    }
}
