
.surface {
    --mamv-ripple-hovered-color-inner: var(--md-sys-color-on-surface);
    --mamv-ripple-pressed-color-inner: var(--md-sys-color-on-surface);

    display: flex;
    margin: auto;
    z-index: 1;
    position: absolute;
    inset: 0;
    height: inherit;
    width: inherit;
    border-radius: var(--mamv-ripple-layer-shape, inherit);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    /* pointer-events: none; */
}
.surface::before {
    content: "";
    position: absolute;
    inset: 0;
    height: inherit;
    width: inherit;
    transition: opacity 15ms linear, background-color 15ms linear;

    opacity: var(--mamv-ripple-hovered-opacity, var(--mamv-ripple-hovered-opacity-inner, 0));
    background-color: var(--mamv-ripple-hovered-color, var(--mamv-ripple-hovered-color-inner, #1d1b20));
}
.surface::after {
    content: "";
    position: absolute;
    transition: opacity  linear;
    transition-duration: var(--mamv-ripple-pressed-transition-duration, var(--mamv-ripple-pressed-transition-duration-inner, 375ms));
    transform-origin: center center;

    opacity: var(--mamv-ripple-pressed-opacity, var(--mamv-ripple-pressed-opacity-inner, 0));
    background: radial-gradient(
        closest-side,
        var(--mamv-ripple-pressed-color, var(--mamv-ripple-pressed-color-inner, #1d1b20)), 
        max(calc(100% - 70px), 65%), 
        transparent 100%
    );
}

.hovered {
    --mamv-ripple-hovered-opacity-inner: 0.08;
}

.pressed {
    --mamv-ripple-pressed-opacity-inner: 0.12;
    --mamv-ripple-pressed-transition-duration-inner: 105ms;
}

.disabled {
    --mamv-ripple-hovered-opacity-inner: 0;
    --mamv-ripple-pressed-opacity-inner: 0;
}
