
.surface {
    box-sizing: border-box;
    position: relative;

    --mamv-divider-thickness-inner: var(--mamv-divider-thickness, 1px);
    --mamv-divider-color-inner: var(--mamv-divider-color, var(--md-sys-color-outline-variant, #c0c9bd));

    background-color: var(--mamv-divider-color-inner);
}

.horizontal {
    display: block;

    width: var(--mamv-divider-width-inner);
    height: var(--mamv-divider-thickness-inner);

    margin-left: var(--mamv-divider-margin-left-inner);
    margin-right: var(--mamv-divider-margin-right-inner);
    margin-top: var(--mamv-divider-margin-top-inner, 8px);
    margin-bottom: var(--mamv-divider-margin-bottom-inner, 8px);
}
.vertical {
    display: inline-flex;

    width: var(--mamv-divider-thickness-inner);
    height: var(--mamv-divider-height-inner);

    margin-left: var(--mamv-divider-margin-left-inner, 8px);
    margin-right: var(--mamv-divider-margin-right-inner, 8px);
    margin-top: var(--mamv-divider-margin-top-inner);
    margin-bottom: var(--mamv-divider-margin-bottom-inner);
}

.no-inset {
    --mamv-divider-width-inner: var(--mamv-divider-width, 100%);
    --mamv-divider-height-inner: var(--mamv-divider-height, 100%);

    --mamv-divider-margin-left-inner: var(--mamv-divider-margin-left, 0px);
    --mamv-divider-margin-right-inner: var(--mamv-divider-margin-right, 0px);
    --mamv-divider-margin-top-inner: var(--mamv-divider-margin-top, 8px);
    --mamv-divider-margin-bottom-inner: var(--mamv-divider-margin-bottom, 8px);
}
.inset-left {
    --mamv-divider-height-inner: calc(100% - var(--mamv-divider-margin-top-inner));

    --mamv-divider-margin-left-inner: var(--mamv-divider-margin-left, 16px);
    --mamv-divider-margin-right-inner: var(--mamv-divider-margin-right, 0px);
    --mamv-divider-margin-top-inner: var(--mamv-divider-margin-top, 8px);
    --mamv-divider-margin-bottom-inner: var(--mamv-divider-margin-bottom, 8px);
}
.inset-right {
    --mamv-divider-height-inner: calc(100% - var(--mamv-divider-margin-bottom-inner, 16px));

    --mamv-divider-margin-left-inner: var(--mamv-divider-margin-left, 0px);
    --mamv-divider-margin-right-inner: var(--mamv-divider-margin-right, 16px);
    --mamv-divider-margin-top-inner: var(--mamv-divider-margin-top, 8px);
    --mamv-divider-margin-bottom-inner: var(--mamv-divider-margin-bottom, 8px);
}
.middle-inset {
    --mamv-divider-height-inner: calc(100% - var(--mamv-divider-margin-top-inner) - var(--mamv-divider-margin-bottom-inner));

    --mamv-divider-margin-left-inner: var(--mamv-divider-margin-left, 8px);
    --mamv-divider-margin-right-inner: var(--mamv-divider-margin-right, 8px);
    --mamv-divider-margin-top-inner: var(--mamv-divider-margin-top, 8px);
    --mamv-divider-margin-bottom-inner: var(--mamv-divider-margin-bottom, 8px);
}
